<!-- <hello name="{{ name }}"></hello> -->
<title>
	Heroes App
</title>
<div class="container">
	<br/>
	<div class="form-group">
		<h5>Heroes App</h5>
	</div>
	<div class="form-group">
		<nav>
			<button (click)="Dash_Click()" class="btn btn-outline-link">Dashboard</button>
			<button (click)="Heroes_Click()" class="btn btn-outline-link">Heroes</button>
		</nav>
	</div>
	<div *ngIf="sh_dashboard" class="form-group">
		<app-dashboard></app-dashboard>
	</div>
	<div *ngIf="sh_heroes" class="form-group">
		<app-heroes></app-heroes>
	</div>
</div>
