<div class="container">

	<h5>Heroes List</h5>

	<div *ngIf="ShowList" class="form-group">
		<div *ngFor="let hero of herolist" class="card">
			<div class="card-body">
				<h6>{{hero.power }}</h6>
				<button (click)="HeroClick(hero)"class="btn btn-outline-primary">{{hero.name | titlecase}}</button>
			</div>
		</div>
	</div>


	<div *ngIf="heroselected" class="form-group">
		<form #heroform="ngForm" (ngSubmit)="UpdateHero(heroform)">
			<div class="form-group">
				Name:<input type="text" [(ngModel)]="selectedhero.name" name="name"
   #name="ngModel" class="form-control" >
			</div>
				<button type="submit" class="btn btn-outline-success">Update</button>
		</form>
	</div>

</div>
